:root {
  --main-coalblack: #162027aa;
  --red-func: #fb4646;
  --teller-white: #fafafa;
  --teller-transparent: #fafafa73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  background-image: url(./assets/luca_micheli.jpeg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

.calculator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-coalblack);
  max-width: 600px;
  width: 80%;
  height: 500px;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator__screen {
  background-color: var(--teller-white);
  width: 100%;
  height: 200px;
}

/* Photo by <a href="https://unsplash.com/fr/@lucamicheli?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Luca Micheli</a> on <a href="https://unsplash.com/wallpapers/screen/4k?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */

